        body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0px 0px 0px;
        }
    
    
        header {
        background-color: ghostwhite;
        text-align: center;
        width: 100%;
        top: 0%;
        position: fixed;
        height: 60px;
        }

        .menu {
        width: 100%;
        background-color: darkslategrey;
        margin-top: 60px;
        height: 30px;
        }

        li {
        display: inline-block;
        width: fit-content;
        padding: 5px 5px 5px 5px;
        text-align: center;
        color: gold;
        }
        
        ul a {
        text-decoration: none;
        color: ghostwhite;
        }
            
        li:hover {
        background-color: black;
        border-style: none;
        font-weight: 300;
        }
            
    
        footer {
        font-size: small;
        width: 100%;
        padding: 10px 10px 10px 10px;
        position: fixed;
        bottom: 0%;
        background-color: darkslategrey;
        color: ghostwhite;
        text-align: left;
        }